*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color:#ffca00;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'geologica', sans-serif;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    scroll-snap-type:proximity;
    overflow-x: hidden;
    transition: .4s ease-in-out;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro{
    color:white;
    font-family:'geologica', sans-serif;
    font-size: 3rem;
    margin-top: 8%;
}

.computer-nav{
    float: right;
}

.link{
    margin-left: 20px;
    transition: 0.5s ease-in-out;
}

.link a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.active-link{
    margin-left: 20px;
    transition: 0.5s ease-in-out;
}

.active-link a{
    text-decoration: none;
    color: #ffca00;
    transition: 0.5s ease-in-out;
}

.active-link:hover{
    opacity:0.5;
}

.link:hover{
    opacity:0.5;
}

.contact-no:hover{
    opacity:0.5;
}

.name{
    color: #ffca00;
    transition: 0.5s ease;
}


.about{
    width: 45%;
    display: block;
    text-align: center;
    margin-top:3rem;
    font-family: 'geologica light', sans-serif;
    line-height: 25px
}

.contact-button a{
    text-decoration: none;
    color: white;
}

.contact-button{
    margin-top: 3rem;
    background-color: #ffca00;
    border: 1px solid #ffca00;
    width: 10%;
    padding: 1%;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.contact-button:hover{
   background-color: transparent;
   border: 1px solid white;
   border-radius: 3px;
}

.ultimate{
    
    color: #ffca00;
    font-size: 16px;
    display: inline;
}

.ultimate span{
    color:#ffca00;
}

header{
    padding: 2rem;
}

.contact-no{
    margin-left:20px;
    color: #ffca00;
    transition: 0.5s ease-in-out;
}

.social-media{
    display: flex;
    width: 10%;
    margin-top: 5rem;
    justify-content: space-evenly;
    padding: 2rem;
}

/* .media{
     border: 1px solid white;
     border-radius: 120px;
     padding: 5px;
} */

.hr{
    width: 10%;
    margin-top: 1rem;
    background-color: #ffca00;
    border-radius: 10%;
    border-color: #ffca00;
    transition: 0.5s ease-in-out;
    animation: change-color 5s ease-in-out;
    animation-iteration-count: infinite;
}

/* @keyframes change-color {
    0%{
        background-color: #ffca00;
        border-color: #ffca00;
    }

    50%{
        background-color: white;
        border-color: white;
    }

    100%{
        background-color: #ffca00;
        border-color: #ffca00;
    }
} */

.white{
    width: 10%;
    margin-top: 1rem;
    background-color: white;
    border-radius: 10%;
    border-color: white;
    transition: 0.5s ease-in-out;
}

@media all and (max-width: 750px) {
    .computer-nav {
        display: none;
    }
    .intro {
        text-align: center;
        width: fit-content;
        margin: 20px auto 0;
    }
    .about {
        width: calc(100% - 40px);
    }
    .contact-button {
        width: 100px;
        margin-bottom: 50px;
    }
}